* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 1.9rem;
}

.logo {
  width: 15rem;
}

.nav-links > ul {
  list-style-type: none;
  display: flex;
}

.nav-links > ul > li {
  padding: 1.4rem;
}

.card {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.card > img {
  width: 100%;
}

.resturant-list {
  display: flex;
  flex-wrap: wrap;
}
